<ion-content>
  <router-outlet></router-outlet>
</ion-content>

<ion-footer class="bottom-nav">

  <div class="nav-item" routerLink="/app/dashboard">
    <ion-icon name="home-outline"></ion-icon>
    <span>Home</span>
  </div>

  <div class="nav-item" routerLink="/app/habits">
    <ion-icon name="add-circle-outline"></ion-icon>
    <span>Add Habit</span>
  </div>

  <div class="nav-item" routerLink="/app/gamification">
    <ion-icon name="game-controller-outline"></ion-icon>
    <span>Gamify</span>
  </div>

  <div class="nav-item" routerLink="/app/community">
    <ion-icon name="people-outline"></ion-icon>
    <span>Community</span>
  </div>

  <div class="nav-item" routerLink="/app/profile">
    <ion-icon name="person-outline"></ion-icon>
    <span>Profile</span>
  </div>

</ion-footer>
