.bottom-nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65px;
  background: #111827;
  color: white;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1000;
}

.nav-item {
  text-align: center;
  font-size: 12px;
  cursor: pointer;
}

.nav-item ion-icon {
  font-size: 22px;
  display: block;
}
